body{
    margin:0;
    padding:0;
    background:red;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
    font-family:Arial;
    flex-direction:column;
}

/* loader center */
#loader{
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* logo animation */
#logo{
    width:180px;
    animation: logoAnim 2.5s ease-in-out infinite;
}

/* title */
h1{
    color:white;
    font-size:36px;
    margin-top:20px;
}

p{
    color:#d4af37;
    font-size:18px;
}

/* floating logo animation */
@keyframes logoAnim{
    0%{
        transform: translateY(0) scale(1);
        filter: drop-shadow(0 0 5px white);
        opacity:0.8;
    }
    50%{
        transform: translateY(-20px) scale(1.08);
        filter: drop-shadow(0 0 20px white);
        opacity:1;
    }
    100%{
        transform: translateY(0) scale(1);
        filter: drop-shadow(0 0 5px white);
        opacity:0.8;
    }
}
